.titu{
  background-color: black;
  max-width: max-content;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-bottom: 1rem;
  margin-right: 400px;
}